<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- 
      CONFIGURAÇÃO DO BANCO DE DADOS
      Edite os valores abaixo conforme sua instalação:

      Data Source: endereço do servidor do banco (ex: localhost, 192.168.0.10)
      Initial Catalog: nome do banco de dados (ex: F001, F002..)
      User ID: usuário do banco (ex: sa)
      Password: senha do banco
	  
	  Demais configurações, deixar padrão!
    -->
    <add name="BancoVTi"
         connectionString="Data Source=localhost;Initial Catalog=F001;User ID=sa;Password=abc123;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>